@font-face {
  font-family: Lato;
  src: url(../fonts/Lato\ Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Blywoofs;
  src: url(../fonts/SVN-Blywoofs.otf);
}
:root {
  --blue: #4f77ff;
  --text: #7b88a8;
  --text2: #2d3958;
  --wheat: #f4d384;
  --secondary-color: #f7f5f1;
  --primary-color: #e18f35;
  --green: #34c635;
  --orange: #ff9513;
  --bg-gray: #292f3a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}
body {
  background-color: var(--secondary-color);
  overflow-x: hidden;
}
.fixed {
  overflow: hidden;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fixed_a {
  transition: 0.5s;
  color: var(--secondary-color);
  text-decoration: none;
}
.hide {
  display: none !important;
}
.onHover {
  color: var(--primary-color) !important;
}
.onHover::before {
  width: 100% !important;
}
.title {
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
}
.go-top{
  position: fixed;
  bottom: 1rem;
  right: 0.5rem;
  z-index: 10;
  font-size: 2rem;
  padding: 0.5rem;
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  color: white;
  border-radius: 100rem;
  box-shadow: 5px 5px 5px rgb(0,0,0,0.2);
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-out 0s;
}
.go-top::before{
  content: "Back to top";
  font-size: 8px;
  color: var(--text2);
  position: absolute;
  left:0;
  right:0;
  z-index: 10;
  top: -1rem;
  opacity: 0;
  transition: 0.5s;
}
.go-top i{
  transition: 0.5s;
}
.go-top:hover::before{
  opacity: 1;
}
.go-top:hover i{
  animation: up-to-top 0.75s 2;
}
@keyframes up-to-top {
  0%{
    opacity: 0;
    transform: translateY(10px);
  }
  100%{
    opacity: 1;
  }
}

/* Right contact  */
.right-contact{
  position: fixed;
  top:50%;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 0.5rem;
  background-color: rgba(232, 232, 232,0.5);
  border-radius: 5px 0 0 5px;
  padding: 0.5rem;
  transform: translateY(-50%) translateX(60%);
  transition: .2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.right-contact:hover{
  transform: translateY(-50%) translateX(0);
}
.card-contact a{
  text-decoration: none;
  font-size: 2rem;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  color: #0777e9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}
.card-contact:nth-child(2) a{
  color: #cc39a4;
  background-color: white;
}
.card-contact:nth-child(3) a{
  color: black;
  background-color: white;
}
.card-contact:first-child:hover a{
  scale: 1.1;
  color: white;
  background-color: #0777e9;
}
.card-contact:nth-child(2):hover a{
  scale: 1.1;
  color: white;
  background-color: #cc39a4;
}
.card-contact:nth-child(3):hover a{
  scale: 1.1;
  color: white;
  background-color: black;
}

/* Input box  */
.input {
  display: block;
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  width: 100%;
  outline: none;
  transition: 0.25;
  font-size: 1rem;
  position: relative;
  z-index: 2;
}
.wrapper-input {
  position: relative;
  z-index: 0;
  margin: 1rem 0;
  width: 100%;
}
.place-input {
  position: absolute;
  top: 8px;
  left: 16px;
  z-index: 1;
  transition: 0.5s;
  color: gray !important;
  user-select: none;
}
.active-input {
  left: 0;
  top: 0;
  transform: translateY(-80%);
  color: white !important;
}

/* Advice box */
.wrapper-advice {
  position: fixed;
  top: -150%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 200;
  transition: 0.5s;
}
.advice {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  background-color: var(--secondary-color);
  height: 100vh;
  color: var(--text2);
  padding: 1rem 40px;
  z-index: 201;
  overflow-y: scroll;
}
.advice-logo {
  max-width: 200px;
  margin: 0 auto;
}
.advice-logo img {
  width: 100%;
}
.advice-service {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  color: var(--text);
}
.advice-title {
  text-align: center;
  font-size: 1.7rem;
  padding: 1rem 0;
}
.advice-group > p {
  font-weight: 700;
  font-size: 1.1rem;
  padding-top: 1rem;
}
.advice-group > .wrapper-input > .input {
  border-bottom: 1px dashed var(--text2) !important;
  color: var(--text2);
  margin-top: 1.5rem;
}
.advice-group > .wrapper-input > .place-input {
  color: var(--text) !important;
}
.advice-group > .wrapper-input > .active-input {
  color: var(--text2) !important;
}
.advice-fixed {
  width: 30%;
  margin: 0 auto;
  margin-top: 2rem;
  text-transform: none !important;
  border: 2px solid var(--primary-color) !important;
}
.advice-fixed:hover {
  color: var(--primary-color) !important;
}
.advice > #x-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 202;
  color: var(--text2);
  display: block;
  font-size: 2.5rem;
  cursor: pointer;
}
.active-advice {
  top: 0;
}
/* Top Page */
.top-page {
  min-height: 60vh;
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: -2;
}
.top-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.7), transparent);
  z-index: -1;
}
.event-top {
  background-image: url(../images/event-top.jpg);
}
.hall-top {
  background-image: url(../images/hall-top.jpg);
}
.sale-top {
  background-image: url(../images/sale-top.jpg);
}
.contact-top {
  background-image: url(../images/contact-top.jpg);
}

/* Footer  */
.footer {
  min-height: 45vh;
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}
.footer-logo {
  max-width: 170px;
}
.footer-logo img {
  width: 100%;
  object-fit: cover;
}
.footer p {
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}
.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.adv-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: start !important;
}
.adv-content {
  font-weight: 700;
  text-align: start !important;
}
.footer-wrapper {
  justify-content: space-evenly !important;
  padding: 30px;
  /* border-bottom: 1px solid white; */
  align-items: flex-start !important;
  gap: 10px;
}
.footer-info {
  width: 42%;
}
.footer-advice {
  width: 26%;
  flex-direction: column;
  align-items: start !important;
}
.footer-page {
  width: 16%;
}
.footer-logo {
  width: 16%;
}
.footer-bottom {
  width: 90%;
  padding-top: 30px;
  border-top: 1px solid white;
}

/* Nav first  */
.nav-bar1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0 3%;
}
.logo-white {
  max-width: 160px;
  padding: 15px 0;
  border-radius: 100rem;
}
.logo-white img {
  width: 100%;
  object-fit: cover;
}
.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.nav-right #menu-icon {
  display: block;
  color: var(--primary-color);
}
.nav-right .logo-white {
  display: none;
}
.nav-right .button {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
/* .nav-right .btn a{
  color: var(--primary-color);
} */
.nav-right .button::before {
  background-color: var(--primary-color);
}
.nav-right .button:hover {
  color: var(--secondary-color);
}
.nav-right .button:last-child {
  border-radius: 100rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 3px;
}
.nav-right .button:last-child:hover div {
  color: var(--secondary-color) !important;
}

/* Nav header  */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 2px 2px 9px 2px #00000042;
  z-index: 100;
}
a.nav-item {
  text-transform: uppercase;
  color: var(--text);
  text-decoration: none;
  transition: 0.5s;
  position: relative;
}
a.nav-item::before {
  content: "";
  height: 1.5px;
  width: 0;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 10;
  transition: 0.5s;
}
a.nav-item:hover {
  color: var(--primary-color);
}
a.nav-item:hover::before {
  width: 100%;
}
.button {
  color: var(--secondary-color);
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: 0.5s;
  padding: 8px 18px;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--primary-color);
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
}
.button::before {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
}
.button:hover::before {
  width: 100%;
}
.button:hover {
  color: var(--text);
}
.btn2 {
  display: none;
}
.btn1 {
  padding: 8px 10px;
}
.logo-top {
  width: 80px;
  margin: 5px 0;
}
.logo-top img {
  width: 100%;
  height: 100%;
}
section {
  min-height: 100vh;
  background-color: var(--secondary-color);
  overflow-x: hidden;
}

/* Home Page  */
.home {
  background-image: url(../images/main.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.7), transparent);
  z-index: -1;
}
.home-content {
  transform: translateY(10%);
}
.title-box {
  max-width: 55%;
  padding: 100px 50px 50px;
  background-color: rgba(247, 245, 241, 0.9);
  color: var(--text2);
  box-shadow: 4px 5px 2px #00000026;
  text-align: center;
  position: relative;
  z-index: 10;
  margin: 0 auto;
}
.title-name {
  font-family: Blywoofs;
  font-size: 10rem;
  color: var(--primary-color);
  text-shadow: 30px 13px 6px rgba(103, 103, 103, 0.3);
  font-weight: 500;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: -4.5rem;
  transition: 0.5s all linear;
  user-select: none;
  z-index: 11;
}
.title-name:hover {
  transform: translateY(-10px);
}
/* Home locate  */
.home-locate {
  padding: 50px;
  gap: 2rem;
}
.home-title h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--text2);
  text-align: center;
  font-weight: normal;
}
.home-locate-img {
  /* width: 40%; */
  border-top-right-radius: 100rem;
  border-top-left-radius: 100rem;
  overflow: hidden;
  margin: 1rem;
}
.home-locate-img img {
  width: 100%;
  object-fit: cover;
}
.home-locate-content {
  padding: 1rem;
}
.line {
  width: 300px;
  margin: 1rem auto;
}
.line img {
  width: 100%;
  object-fit: cover;
}
.home-title {
  position: relative;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.title-down {
  position: absolute;
  font-family: Blywoofs;
  font-size: 4.5rem;
  font-weight: normal;
  color: var(--primary-color);
  top: 20%;
  left: 50%;
  width: 100%;
}
.home-locate-desc {
  color: var(--text2);
}
.home-locate-desc p {
  margin-top: 1rem;
}
.home-locate-info {
  justify-content: space-between;
  padding-top: 1.5rem;
}
.info-img {
  height: 70px;
  width: auto;
  transition: 0.65s;
  display: block;
  margin: 0 auto;
}
.info-item > div:hover > .info-img {
  transform: rotateY(180deg);
}
.info-item > div {
  width: 80%;
  height: 100%;
}
.info-item {
  width: 25%;
  flex-direction: column;
  gap: 1rem;
}
.info-value {
  font-size: 1.5rem;
  color: var(--primary-color);
}
/* Home service  */
.home-service {
  margin-bottom: 50px;
}
.service-list {
  padding: 0 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 1rem 0;
}
.service-list::before {
  content: "";
  top: 0;
  left: 50%;
  width: 3px;
  height: 100%;
  background-color: var(--primary-color);
  transform: translateX(-50%);
  position: absolute;
}
.service-item {
  display: flex;
  align-items: center;
  gap: 10%;
  position: relative;
}
.service-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  transform: translateX(-50%);
  border-radius: 10rem;
}
.service-item:nth-child(even) {
  flex-direction: row-reverse;
}
.service-img {
  width: 50%;
  padding: 5%;
}
.service-img img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.service-content {
  width: 50%;
  padding: 5%;
}
.service-title {
  font-size: 2rem;
  font-weight: 500;
}
.service-desc {
  padding: 1rem 0;
}
.service-fixed {
  width: 120px;
  text-transform: none;
  padding: 0 0;
  background-color: var(--text2);
  border: 2px solid var(--text2);
}
.service-fixed:hover > a {
  color: var(--text2);
}
.service-fixed > a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 5px 0;
}
/* Toggle Menu  */
.toggle-menu {
  overflow: hidden;
  position: fixed;
  right: -100%;
  visibility: hidden;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 0.75s;
  z-index: 99;
  gap: 10px;
}
#menu-icon {
  font-size: 2.5rem;
  color: var(--primary-color);
  cursor: pointer;
  display: none;
  transition: 0.75s;
}
.logo {
  width: 180px;
}
.toggle-item {
  transition: 0.5s;
  width: 200px;
  padding: 10px 0;
  text-align: center;
  border-radius: 100rem;
  color: var(--primary-color);
}
.toggle-item:hover {
  background-color: var(--primary-color);
  color: white;
}
.active {
  opacity: 1;
  right: 0;
  visibility: visible;
}

/* Event Page*/
.list-event {
  padding: 80px 0;
}
.event-item {
  display: flex;
  color: var(--text2);
  height: 90vh;
  padding: 7%;
}
.event-item:nth-child(odd) {
  flex-direction: row-reverse;
}
.event-item:nth-child(even) {
  background-color: var(--wheat);
}
.event-item:hover .event-image {
  scale: 1.2;
}
.event-item:hover .event-line {
  width: 60%;
}
.event-img {
  max-width: calc(100% / 3);
  padding: 3%;
}
.event-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
  aspect-ratio: 2/3;
}
.event-img div {
  width: 100%;
  overflow: hidden;
}
.event-content {
  max-width: calc(calc(100% / 3) * 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.event-title {
  font-size: 2.5rem;
  font-weight: 400;
}
.event-line {
  height: 1.5px;
  width: 40%;
  background-color: var(--primary-color);
  margin: 20px 0;
  transition: 0.5s;
}

/* Hall Page */
.hall {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
  margin-top: 30px;
  min-height: 150vh;
}
.list-hall {
  display: flex;
  min-width: 60%;
  max-width: 100%;
  height: 70vh;
  justify-content: center;
  transition: 0.75s;
}
.hall-item {
  height: 100%;
  background-color: var(--green);
  border-radius: 35px;
  width: 70px;
  margin: 0.5rem;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: end;
  transition: 0.75s;
  cursor: pointer;
}
.hall-label {
  height: 60px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 5px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  transition: 0.75s;
  gap: 7px;
}
.hall-info {
  color: var(--secondary-color);
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 0.75s;
}
.hall-title {
  font-weight: 700;
  font-size: 15px;
}
.hall-icon {
  height: 100%;
  object-fit: cover;
  transition: 0.75s;
}
.hall-item:nth-child(1) .hall-icon {
  padding: 3px;
  padding-top: 5px;
}
.hall-item:nth-child(5) .hall-icon {
  padding: 3px;
}
.active-hall {
  width: 800px;
  flex-shrink: 1000;
}
.active-hall .hall-label {
  width: calc(100% - 10px);
}
.active-hall .hall-info {
  animation: appear 0.15s 0.75s 1 forwards;
  display: block;
}
.hall > div {
  width: 100%;
}
.hall-content {
  max-width: 1000px;
  text-align: center;
  height: auto;
  padding: 0 2rem 2rem;
  margin: 0 auto;
}

@keyframes appear {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
/* .hall-item:hover {
  width: 800px;
  flex-shrink: 10;
}
.hall-item:hover .hall-label{
  width: calc(100% - 10px);
}
.hall-item:hover .hall-info{
  display: block;
  visibility: visible;
  opacity: 1;
} */

/* Contact Page  */
.contact {
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
.contact-info {
  flex-direction: column;
  color: var(--text2);
  width: 50%;
}
.contact-title {
  font-weight: 700;
  font-size: 1.3rem;
  padding-bottom: 1rem;
  text-align: center;
}
.contact > div {
  width: 100%;
}
table {
  width: 100%;
  margin-bottom: 2rem;
  border: none;
  border-collapse: collapse;
}
td {
  padding: 5px 0;
}
tr:hover {
  background-color: lightgray;
}
.contact-box {
  width: 50%;
  /* box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.20); */
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
  border-radius: 10px;
  padding: 1rem;
  border-top: 3px solid var(--primary-color);
  background-color: white;
}
.box-title{
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
  text-shadow: 2px 2px 2px #0000002b ;
}
.wrapper-contact {
  padding: 2rem 5%;
  gap: 5%;
}
.contact-box .input {
  border: 1px solid var(--text2);
  color: var(--text2);
  border-radius: 5px;
}
.contact-box .wrapper-input {
  width: 100%;
}
.contact-box .place-input {
  color: var(--text);
}
.contact-box .active-input {
  color: var(--text2) !important;
  left: 1rem;
  top: 0;
  transform: translateY(-60%);
  background-color: white;
  z-index: 3;
}
.contact-fixed{
  background-color: var(--text2);
  border: 2px solid var(--text2);
  width: 30%;
  margin: 0 auto;
}
.contact-fixed:hover{
  color: var(--text2);
}
.contact-fixed::before{
  background-color: white;
}

/* Sale Page  */
.sale{
  padding: 2rem;
  background-color: white;
}
.sale-list{
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
  align-items: stretch;
}
.sale-item{
  width: 30%;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2rem;
  transition: 0.4s;
}
.sale-item:hover{
  transform: translateY(-0.5rem);
}
.sale-img{
  width: 100%;
}
.sale-content{
  padding: 1rem;
}
.sale-title{
  color: var(--primary-color);
  font-size: 1.3rem;
  text-align: center;
  font-weight: 700;
  padding-bottom: 0.5rem;
  transition: 0.35s;
  cursor:pointer;
}
.sale-item:hover .sale-title{
  color: var(--text2);
}
.sale-disc{
  color: var(--text);
  text-overflow: ellipsis;
}


/* Responsive */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .title-box {
    max-width: 70%;
    padding: 80px 40px 40px;
  }
  .title-name {
    font-size: 8rem;
    top: -3.5rem;
  }
  .event-item {
    height: 50vh;
  }
  .hall-title,
  .hall-desc {
    font-size: 12px;
  }
  .event-img {
    display: flex;
    align-items: center;
  }
  .event-item {
    padding: 2%;
  }
}

@media screen and (max-width: 1000px) {
  .footer-wrapper {
    flex-direction: column;
    width: 100%;
    align-items: center !important;
    padding: 30px 50px;
  }
  .footer-logo {
    order: -1;
  }
  .footer-wrapper > div {
    width: 100%;
  }
  .footer-page p {
    text-align: start;
  }
  .footer-bottom {
    margin-bottom: 15px;
  }
  .home-locate {
    flex-direction: column;
    padding: 40px 10%;
  }
  .home-locate-desc {
    text-align: center;
  }
  .service-list {
    padding: 0 5%;
  }
  .service-item {
    gap: 5%;
  }
  .service-item > div {
    padding: 3%;
  }
  .list-hall {
    flex-direction: column;
    height: 300vh;
    width: 100%;
    align-items: center;
    padding: 0 5px;
  }
  .hall-item {
    width: 80%;
    height: 100%;
    margin: 1rem;
    cursor: auto;
  }
  .hall-label {
    width: calc(100% - 10px);
  }
  .hall-info {
    opacity: 1;
    display: block;
    visibility: visible;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .hall-title,
  .hall-desc {
    font-size: 12px;
  }
  .active-hall {
    width: 80%;
    flex-shrink: 1;
  }
  .wrapper-contact{
    flex-direction: column-reverse;
  }
  .contact-box{
    width: 100%;
  }
  .contact-info{
    width: auto;
  }
  .sale-item{
    width: 45%;
  }
  .sale{
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .title-box {
    max-width: 80%;
    padding: 60px 30px 30px;
  }
  .title-name {
    font-size: 5.5rem;
    top: -2.3rem;
  }
  .event-item {
    flex-direction: column-reverse !important;
    align-items: center;
    padding: 0;
  }
  .event-content {
    align-items: center;
    text-align: center;
    height: 40%;
    max-width: 100%;
    padding: 10px;
  }
  .event-title {
    font-size: 2rem;
  }
  .event-line {
    margin: 5px 0;
  }
  .event-img {
    height: 60%;
    max-width: 100%;
  }
  .event-img div {
    height: 100%;
  }
  .logo-white {
    max-width: 130px !important;
  }
  .title {
    font-size: 2rem !important;
  }
  .advice {
    width: 100%;
  }
  .service-list {
    gap: 30px;
  }
  .service-list::before {
    display: none;
  }
  .service-item::before {
    display: none;
  }
  .service-item {
    flex-direction: column !important;
    box-shadow: 0px 12px 64px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
  }
  .service-content {
    width: auto;
  }
  .service-img {
    width: auto;
    height: auto;
    padding: 0 !important;
  }
  .service-img img {
    border-radius: 0;
  }
  .service-fixed {
    border-radius: 10px;
  }
  .home-locate-info {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .info-item {
    width: calc(50% - 1rem);
  }
  .active-hall {
    width: 95%;
  }
  .hall-item {
    width: 95%;
  }
  .sale-item{
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .hall-info {
    align-self: start;
  }
  .event-item {
    height: 100vh;
  }
  .nav-bar1 {
    padding: 5px 10px;
  }
  .nav-bar #menu-icon {
    max-width: 70px;
    text-align: center;
    font-size: 2rem;
  }
  .logo-white {
    max-width: 100px !important;
  }
  .nav-bar1 > .logo-white {
    display: none;
  }
  .nav-bar1 .nav-right > .logo-white {
    display: block;
  }
  .nav-bar1 .nav-right {
    width: 100%;
    justify-content: space-between;
  }
  .nav-right .btn2 {
    display: none;
  }
  .title {
    font-size: 1.5rem !important;
  }
  .footer-wrapper {
    padding: 30px;
  }
  .advice-service {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .advice-fixed, .contact-fixed{
    width: 80px;
    padding: 5px;
  }
  .home-locate-img {
    margin: 0;
  }
  .home-locate-content {
    padding: 0;
  }
  .line {
    width: 280px;
  }
  .service-fixed {
    width: 100px;
  }
  .home-title {
    transform: translateX(-10%);
  }
  .info-img {
    height: 50px;
  }
  .active-hall {
    width: 100%;
  }
  .hall-item {
    width: 100%;
  }
  .btn2 {
    font-size: 12px;
  }
  .advice-logo {
    max-width: 150px;
  }
  .advice-title {
    font-size: 1.5rem;
  }
  .advice {
    padding: 1rem 1.5rem;
  }
  .box-title{
    font-size: 1.5rem;
  }
  .right-contact{
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .nav-item {
    display: none;
  }
  .nav-bar #menu-icon {
    display: block;
    width: 94px;
  }
  .nav-bar {
    justify-content: space-between;
    padding: 0 10px;
  }
  .btn1 {
    display: none;
  }
  .btn2 {
    display: block;
    padding: 5px 10px;
  }
  .top-page {
    min-height: 40vh;
  }
  .title {
    font-size: 2.5rem;
    transform: translateY(50%);
  }
  .logo-white {
    max-width: 150px;
  }
  .service-title {
    font-size: 1.5rem;
  }
  .btn2:hover span{
    color: var(--primary-color) !important;
  }
  .btn2{
    border: 2px solid var(--primary-color);
  }
  .right-contact{
    transform: translateY(-50%) translateX(0);
  }
}
